*{
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: rgb(253, 239, 213);
}

 .nav-list{
    display: flex;
       
    }
 .nav-item{
    list-style: none;
 }
 .nav-link{
    text-decoration: none;
    padding: 10px;
    color: black;
 }
 .logo-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* display: block;
   margin: 0 auto;  
   background-color: blue; */

   /* margin: 0 auto; */

 }

.nav-logo{
   text-decoration: none;
   color: orangered;
   font-size: 20px;
   font-weight: bold;
      
}
 .logo{
    height: 70px;
    width: 70px;
 }

 .logo-div{
   display: flex;
   align-items: center;
 
   }

 .logo-div span{
    font-weight: 700;
    font-size: 20px; 
    color: rgba(253, 132, 88, 0.959);
   }

 .login,.signup{
    border-radius: 15px;
    background-color: rgba(253, 132, 88, 0.959);
    padding: -10px;
    color: black;
    margin-left: 20px;
    height:40px;
    width: 70px;
    border-color: rgb(124, 124, 124);
    border-style: solid;
 }
 .login:hover,.signup:hover{
    background-color: orangered;
    transform: scaleX();
    transition: 1s;
    color: white;
    cursor: pointer;
 }

 .nav-toggle{
   display: none;
 }

.nav-menu-toggle , .login-section-togglez{
   display: flex;
   flex-direction: column;
}

 .section1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    
 }
 .left-side{
    /* display: inline-block; */
    margin-right: 40px;
 }
 .first-text h1{
    font-size: 50px;
    
    
 }
 .first-text span{
    background-color:rgba(253, 132, 88, 0.959);
    color: white;
    border-radius: 40px;
    padding: 2px 8px;
 }
 .pet-text{
    margin: 40px 20px;
    white-space: wrap;
    font-size: 20px;
 }

 .section1 button{
    padding: 20px;
    background-color:rgba(253, 132, 88, 0.959);
    color: white;
    border-radius: 30px;
    margin-right: 20px;
    margin-left: 30px;
    border-style: solid;
    border: none;
    width: 200px;
 }

 .section1 a{
        text-decoration: none;
        color: white;
 }
 .info-text{
    margin: 30px;
    font-family:cursive !important;
 }
 .dog-img{
    width: 420px;
    height: 420px;
    object-position: bottom;
    object-fit: cover;
    background: none;
   
 }
 .section2{
    background-color: #fff;
    display: grid;
    /* justify-content: center;
    align-items: center; */
    /* margin-top: 50px; */
    grid-template-columns: repeat(3,minmax(0,1fr));
 }
 .dogwalkers{
   background-color: #fff;
 }
 .dog-walkerheading, .service-heading{
    text-align: center;  
    
 }
  .dogwalkers h1 , .ourServices h1{
    text-align: center;
    color: brown;
    font-weight: bold;
    font-size: 1.5rem;
    transform: scaleX();
    transition-property: all;
    transition-duration: 1.5s;
    transform-origin: bottom ;
        }
 .dogwalkers p{
 text-align: center;
 }

 .card{
   
    padding: 10px;
    background-color: white;
    display: inline-block;
    border-radius: 40px;
    margin: 30px;
    box-shadow: 0 10px 10px  0px lightgray ;
 }
 .profile-pic img{
    width: 300px;
    height: 300px;
    object-fit: cover;
 }
 .walkers-info{
   box-sizing: content-box;
 }
 .experience{
   text-align: left;
 }

.ourServices{
   margin-top: 30px;
   margin-bottom: 30px;
   margin: 30px;
}

.services{
   /* display: grid;
   grid-template-columns: repeat(3,minmax(0,1fr));
   padding: 20px; */
display: flex;
align-items: center;

}
.service-card{
padding: 10px;
}

.service-card img{
   width: 200px;
   height: 200px;
   border-radius: 50%;
   margin: 0 auto;
}
.service-card .image{
display: flex;
align-items: center;
}
.service-card a{
   text-decoration: none;
   color: rgba(253, 132, 88, 0.959);
}

footer{
   display:flex;
   justify-content: center;
   align-items: center;
   background-color: aliceblue;
   /* margin:50px 0 0; */
   overflow: hidden;
   
}

.footer-link{
   text-decoration: none;
   color: black;
  
}
.footer-item{
   list-style: none;
}

.footer-logo span{
   color: rgb(253, 132, 88, 0.959)
}



@media screen and (max-width: 600px){
   .nav-menu, .login-section{
      display: none;
   }
   
.nav-toggle{
   display:flex;
   justify-content: end;
   color: rgb(253, 132, 88, 0.959);
}

.section1{
   display: flex;
   flex-direction: column-reverse;
}
.first-text h1{
   font-size: 24px;
   text-align: center;
}
.first-text p{
   font-size: 16px;
}

.buttons{
   display: flex;
   justify-content: space-between;
}


.buttons a{
   text-align: center;
   font-size: 10px;
}

.right-side{
   margin:0 auto;
  
}
.dog-img{
   width: 220px;
   height: 220px;
   object-fit: cover;
   background: none;   
}

.profile-pic{
   width: 100%;
}

.section2{
   
   display: flex;
   flex-direction: column;
  
}
.dog-walkerheading, .service-heading{
   text-align: center;    
   
}
 .dogwalkers h1 , .ourServices h1{
   text-align: center;
   color: brown;
   font-weight: bold;
   font-size: 1.2rem;
   transform: scaleX();
   transition-property: all;
   transition-duration: 1.5s;
   transform-origin: bottom ;
       }

.dogwalkers p{
text-align: center;
}

.card{
   display: block;
   margin:20px ;
   border-radius: 10px;
}
.profile-pic img{
   width: 100%;
}
.services{
   display: flex;
   flex-direction: column;
}

footer form{
   display: none;
}
footer{
   display: flex;
   flex-direction: column;
}
.footer-logo{
   display: flex;
   align-items: center;
}

.footer-about {
   margin: 10px 20px 20px;
}

.left-side{
   /* display: inline-block; */
   margin-right: 0px;
}

.section1 button{
   padding: 10px;
   border-radius: 10px;
   margin-right: 0px;
   margin-left: 0px;
   width: 40%;
}

.buttons {
   justify-content: space-around;
}

/* footer .links{
   display: flex;
   align-items: left;
} */

.footer-list{
   display: flex;
   margin-left: -210px;
   flex-direction: column;
   margin-bottom: 50px;
}

.links {
   background-color: blue;
}

.footer-item {
   margin-right: 10px;
}

.service-card {
   /* background-color: red; */
   margin-bottom: 10px;
}

.service-card .img{
   margin: auto;
   /* background-color: blue; */
   border-radius: 0;
}

.img img {
   display: block;
   margin: auto;
}


}